@import url(browse.css);

/* About Page */

body {
  line-height: 1.5;
  font-weight: normal;
}

/* Page Title */
#about-title {
  text-align: center;
  font-size: 42px;
  color: var(--dark-gray);
  font-weight: normal;
}

/* About Section */
.about-content {
  margin: auto;
  width: 45%;
}